*{
    font-family: Arial, Helvetica, sans-serif;
}

.login-body{
    background: rgb(186,107,207);
    background: radial-gradient(circle, rgba(186,107,207,1) 0%, rgba(147,171,255,1) 62%);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    /* overflow: hidden; */
}

.logo{
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
}

/* strikes */

.strikes{
    position: absolute;
    margin-left: -20%;
    margin-top: -13%;
    z-index: -1000;
    display: flex;
}
.strikes svg{
    position: absolute;
}

/* main */
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}

/* name */

.name{
    display: flex;
    flex-direction: row;
}

.specs{
    margin-top: 23%;
    margin-left: -63%;
}

/* login */
.login{
    height: 70vh;
    border: 1px solid #93ABFF;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(206.24deg, #93ABFF -54.85%, rgba(217, 217, 217, 0) 308.53%);
    width: 40%;
    border-radius: 20px;
    box-shadow: 0px 40px 1px transparent; 
    position: relative;
    box-shadow: 3px 25px 15px #597cfc;
    margin-left: -80%;
}
.login svg{
    align-self: center;
    text-align: center;
    /* margin-top: -7%; */
    position: absolute;
    margin-top: -30px;
}

.login h2{
    margin-top: 20%;
    color: #5f24ff;
}

.user,.pass{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.user input,.pass input{
    margin: 5px 0px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.user label,.pass label{
    margin: 10px 0px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login button{
    width: fit-content;
    padding: 10px 30px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #5A7EFE;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    bottom: 0;
}

.login h3{
    color:#2200F4;
}

.login a{
    text-decoration: none;
    color: black;
}

